@font-face {
    font-family: "JetBrains Mono";
    src: url("/src/assets/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

:root {
    font-family: "JetBrains Mono", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0 0 10em rgba(126, 209, 155, 0.4));
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: rgb(41, 41, 41, 0.3);
    padding: 25px;
    border-radius: 24px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}

.socials {
    display: flex;
    flex-direction: row;
    text-align: left;
    background: rgb(41, 41, 41, 0.3);
    padding: 25px;
    border-radius: 24px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

a {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: rgb(29, 185, 84);
    text-decoration: inherit;
}
a:hover {
    color: rgb(126, 209, 155);
}

body {
    background-image: radial-gradient(#4e4a4a 1px, transparent 0),
        radial-gradient(#4e4a4a 1px, transparent 0);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    display: flex;
    place-items: center;
}

h1 {
    left: 15px;
    font-size: 3.2em;
    line-height: 1.1;
}

p {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: rgb(198, 196, 196);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
