@font-face {
    font-family: "JetBrains Mono";
    src: url("/src/assets/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

:root {
    font-family: "JetBrains Mono", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    /* From https://css.glass */
    background: rgb(240, 240, 240, 0.01);
    filter: drop-shadow(0 0 10em rgba(126, 209, 155, 0.4));
    border-radius: 24px;
    padding: 24px;
    margin: 24px;
    border: 1px solid rgba(126, 209, 155, 0.4);
}

@media (max-width: 768px) {
    .main {
        margin: 0;
        border-radius: 0;
        padding: 5px;
        border: 0;
        filter: none;
        border: none;
    }
}

.container {
    display: block;
    text-align: left;
    background: rgb(32, 32, 32);
    padding: 25px;
    border-radius: 24px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(126, 209, 155, 0.4);
    -webkit-backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
    .container {
        border: none;
        padding: 13px;
    }
}

.text-container {
    flex-direction: column;
}

.img-container {
    flex-direction: row;
}

.socials-container {
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}

a {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: rgb(29, 185, 84);
    text-decoration: inherit;
}
a:hover {
    color: rgb(126, 209, 155);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    body {
        background-image: none; /* Disable background gradient for mobile devices */
    }
}

h1 {
    left: 15px;
    font-size: 2.8em;
    line-height: 1.1;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.3em;
    }
}

p {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: rgb(198, 196, 196);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    p {
        font-size: 0.85em;
    }
}

.logo {
    width: 50px;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
}

@media (max-width: 768px) {
    .logo {
        width: 35px;
    }
}

.logo:hover {
    filter: drop-shadow(0 0 2em rgba(126, 209, 155, 0.3));
}
